* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif; 
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}


h2 {
    font-size: 4rem;
    margin-bottom: 5rem;
    line-height: 1.2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    
    }

h3 {
    font-size: 5rem;
    text-transform: uppercase;
}

h4 {
    font-size: 4.5rem;
    text-transform: uppercase;
}

h5 {
    font-size: 4rem;
    text-transform: uppercase;
}

h6 {
    font-size: 3.5rem;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

p {
    padding: 2rem;
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

table {
    min-width: 36rem;
    width: 100%;
    border-collapse: collapse;

    
}

table caption {
    font-style: italic;
    font-size: 1.8rem;
    text-align: left;
    margin-bottom: 0.5rem;
    padding-left: 0.8rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table td, table th {
    white-space: nowrap;
    text-align: left;
    padding: 1rem;
    border: 0.1rem solid var(--light-gray-color);
    
}

tfoot td, table th {
    background: rgb(223, 219, 219);
}