.intro-content {
  position: relative;
  /* top: -6.3rem; */
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 100vh;
}

.intro-text-content,
.intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-text-content h2,
p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.intro-img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.top3-content {
  max-width: 64rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.grid-one-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 100vh;
}

.grid-main-heading {
  font-size: 6rem;
  font-style: oblique;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: -0.2rem;
  padding-left: 1.5rem;
}

.grid-description {
  padding-bottom: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  counter-reset: grid-counter;
}

.grid h3 {
  font-size: 3rem;
  position: relative;
  padding-left: 8.5rem;
  padding-bottom: 2rem;
}

.grid h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 8rem;
  font-style: italic;
  top: -3rem;
  left: 2rem;
}

.gallery-img {
  width: 100%;
  max-width: 36rem;
  max-height: 36rem;
}

.gallery-img img {
  transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
  transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.contact-form {
  grid-column: span 2;
}

.contact-form .form-grid {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
}

.form-grid legend {
  font-size: 3rem;
  font-style: italic;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 2rem;
}

.form-group {
  flex: 1 1 40rem;
  font-size: 2.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 1rem;
}
.form-group input,
.form-group textarea {
  border: none;
  background: var(--white-color);
  padding: 1.5rem 2rem;
  width: 100%;
  font-size: 2rem;
  outline: none;
}
.form-group input:focus,
.form-group textarea:focus {
  box-shadow: 0 0 2rem 0.2rem var(--secundary-color);
}

.form-group button {
  border: 0.5px solid var(--white-color);
  background: none;
  color: var(--white-color);
  padding: 1.5rem 3rem;
  font-size: 3rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.form-group button:hover {
  border: 0.5px solid var(--primary-color);
  background: var(--white-color);
  color: var(--primary-color);
}

.form-group ::placeholder {
  color: rgb(160, 157, 157);
}

.footer {
  text-align: center;
  font-size: 1.5rem;
}

.footer a {
  color: var(--primary-color);
}

.heart {
  color: var(--secundary-color);
}

.back-to-top {
    font-size: 3rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-90deg);
    border: 0.1rem solid var(--primary-color);

}

.footer p {
  margin: 0;
  padding: 10px;
}

.close-menu {
  display: none;
}

@media (max-width: 800px) {
  .intro-content,
  .grid {
    grid-template-columns: 1fr;
  }

  .gallery-img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  .gallery-img img {
    width: 100%;
  }

  .grid-one-content {
    display: block;
  }

  .menu {
    bottom: 0;
  }
  .menu-content,
  .menu-content ul {
    flex-direction: column;
    justify-content: center;
  }

  .menu-content {
    height: 100vh;
  }

  .menu {
    display: none;
  }

  .close-menu-label::after {
    content: "≡";
    position: fixed;
    z-index: 2;
    top: 2rem;
    right: 2rem;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 3rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
  }

  .close-menu:checked ~ .menu {
    display: block;
  }
  .close-menu:checked ~ .close-menu-label::after {
    display: block;
    content: "×";
  }
  
  .menu-spacing {
    display: none;

  }
}
