:root {
    --primary-color: #0A1128;
    --white-color: #ffffff;
    --secundary-color: crimson;
    --light-gray-color: rgb(161, 159, 159);
    --gap: 3rem;
}
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; 
*/
